@import "@/styles/config/mixins";

.header {
	width: 100%;
	height: var(--head-height);
	padding: 8px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	background-image: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0.1)
	);
	backdrop-filter: blur(20px);

	@include color-scheme(dark) {
		background-image: linear-gradient(
			to right bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.1)
		);
	}

	@include responsive(phone) {
		padding: 16px;
	}

	&--visible {
		box-shadow: 0 1px 20px -1px rgba(0, 0, 0, 0.1);
	}

	a {
		height: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	&-logo {
		width: auto;
		height: 100%;
		object-fit: contain;
		cursor: pointer;
		user-select: none;
	}
}
