@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.input {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
	gap: 4px;
	position: relative;

	&__label {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: var(--theme-fg);
	}

	label:has(~ div > input:required) {
		&::after {
			content: "*";
			color: var(--theme-red);
			margin-left: 5px;
		}
	}

	&__input {
		all: unset;
		box-sizing: border-box;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 16px 30px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 500px;
		transition: all var(--transition-time) ease-in-out;

		@include color-scheme(dark) {
			border-color: rgba(255, 255, 255, 0.2);
		}

		&:active,
		&:focus {
			border: 1px solid rgba(0, 0, 0, 0.35);

			@include color-scheme(dark) {
				border-color: rgba(255, 255, 255, 0.35);
			}
		}

		&::placeholder {
			color: var(--theme-light-grey);
		}

		&-container {
			width: 100%;
			position: relative;
		}

		&-size {
			&--small {
				padding: 8px 16px;
				@include typography($size: sm);
			}

			&--medium {
				padding: 12px 24px;
				@include typography($size: md);
			}

			&--large {
				padding: 16px 30px;
				@include typography($size: lg);
			}
		}
	}

	&__dropdown {
		@include dropdown;

		&__option {
			@include dropdown-option;
			@include typography($size: s);
		}
	}

	&__icon {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		cursor: pointer;
		user-select: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		right: 0;
		transform: translate(-50%, -50%);
		background-color: var(--theme-bg);

		&--dropdown svg path {
			&:first-child {
				fill: var(--theme-light-grey);
				stroke: var(--theme-light-grey);
			}

			&:last-child {
				fill: var(--theme-black);
				stroke: var(--theme-black);
			}
		}
	}

	&__input:focus ~ &__dropdown {
		display: flex;
	}
}
