@import "@/styles/config/mixins";

.wrapper {
	position: fixed;
	top: var(--head-height);
	left: var(--side-width);
	width: calc(100% - var(--side-width) - 1rem);
	height: calc(100vh - var(--head-height) - 1rem);
	border-radius: 32px;
	background-color: var(--theme-bg);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 60;

	@include responsive(phone) {
		left: 0;
		width: 100%;
		border-radius: 0;

		@include theme(light) {
			background-color: var(--accent-color-200);
		}

		@include theme(dark) {
			background-color: var(--bgcolor-400);
		}
	}
}
