@import "@/styles/config/mixins";

.admin {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	padding: 24px;

	&-user {
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 24px;
		padding: 24px;
		border-radius: 8px;
		border: 1px solid var(--theme-light-grey);

		&-content {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 8px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&-status {
			border-radius: 500px;
			padding: 4px 8px;
			background-color: var(--theme-green-dark);
			color: var(--theme-white);
		}

		&-created {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
		}

		&-socials {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;

			a {
				color: var(--theme-black);
				text-decoration: none;
				width: 32px;
				height: 32px;
				padding: 6px;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;

				svg {
					width: 100%;
					height: 100%;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.05);
				}
			}
		}
	}

	&-navigation {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		padding: 12px 0;
	}
}
