@import "@/styles/config/mixins";

.group {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin-top: -60px;
	position: relative;
	z-index: 1;

	&-body {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 12px;
		padding: 24px 5%;
	}

	&-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 24px;
		padding: 60px 0;
		text-align: center;

		img {
			width: 300px;
			height: auto;
			object-fit: contain;
		}
	}

	&-add-fab {
		position: fixed;
		bottom: 24px;
		right: 24px;
		z-index: 3;
	}
}
