@import "@/styles/config/mixins";
@import "@/styles/pages/mixins";

.home,
.privacy-policy {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	gap: 36px;
}

.privacy-policy {
	justify-content: flex-start;
	padding: var(--head-height) 24px 24px 24px;

	article {
		@include markdown-styles;
	}
}

.home-page {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 0 8px;

	&-group {
		width: 100%;
		flex: 0 1 auto;
		border-radius: 8px;
		gap: 16px;
		padding: 16px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border: 1px solid var(--theme-green);
		cursor: pointer;
		user-select: none;
		color: var(--theme-fg);
		text-decoration: none;

		&:hover {
			background-color: rgba(74, 166, 60, 0.1);
		}

		& > img {
			height: 100%;
			aspect-ratio: 1 / 1;
			width: auto;
			object-fit: cover;
			max-height: 100px;
			border-radius: inherit;
		}

		& > div {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			gap: 12px;
		}
	}

	&-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 24px;
		padding: 60px 0;
		text-align: center;

		img {
			width: 300px;
			height: auto;
			object-fit: contain;
		}
	}

	&-add-fab {
		position: fixed;
		bottom: 24px;
		right: 24px;
		z-index: 3;
	}
}
