@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.expense {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 12px;
	cursor: pointer;
	border-bottom: 1px solid var(--theme-light-grey);

	@include responsive(phone) {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "expense-card-date expense-card-amount" "expense-card-title expense-card-title";
	}

	&:hover {
		background-color: var(--theme-bg-hover);
	}

	&-date {
		width: 12ch;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		flex: 0 0 auto;

		@include responsive(phone) {
			grid-area: expense-card-date;
		}
	}

	&-title {
		max-width: 60%;

		@include responsive(phone) {
			max-width: unset;
			grid-area: expense-card-title;
		}
	}

	&-amount {
		text-align: right;
		margin-left: auto;

		@include responsive(phone) {
			grid-area: expense-card-amount;
		}
	}
}

.create-expense,
.update-expense {
	width: 100%;

	&-form {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		& > div > div {
			padding: 16px;
		}

		button {
			margin: 0 auto;
		}
	}

	&-members {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}

	&-manage-col {
		flex-direction: column;
		gap: 12px;
	}

	&-member {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		padding: 12px;
		border-radius: 4px;

		&:hover {
			background-color: rgba(0, 0, 0, 0.025);
		}

		&-name {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&-amount {
			width: 8.5ch;
			margin-left: auto;
			flex: 0 0 auto;
		}
	}

	&-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 24px;
		padding: 60px 0;
		text-align: center;

		img {
			width: 200px;
			height: auto;
			object-fit: contain;
		}
	}

	&-members-bar {
		width: calc(100% - 16px);
		margin: 0 auto;
		margin: 12px 0 6px 0;
	}
}

.view-expense-card {
	width: calc(100% - 6px);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	padding: 16px 12px;
	border: 1px solid var(--theme-light-grey);
	cursor: pointer;

	&:hover {
		background-color: rgba(0, 0, 0, 0.025);
	}

	&-details,
	&-paid {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 2px;
	}

	&-paid {
		align-items: flex-end;
	}
}

.view-expense {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	margin: 0 auto;

	&-card {
		border: none;
		height: auto;
		padding: 8px;

		&:hover {
			background-color: transparent;
			cursor: default;
		}
	}

	&-members {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		gap: 4px;
	}

	&-member {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		padding: 6px 8px;

		&-name {
			margin-right: auto;
		}
	}

	&-btn {
		@include init-button;
		font-size: 14px;
		margin-left: auto;
		color: var(--theme-green);

		&--loader {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: 1px solid var(--theme-green);
			border-right-color: transparent;
			margin: 0 16px;
			animation: spin 1s linear infinite;
		}

		&:disabled,
		&--disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	&-status {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: auto;

		span {
			color: var(--accent-color);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			gap: 4px;
			opacity: 0.5;
			cursor: not-allowed;

			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	&-description {
		width: 100%;
		padding: 8px;
		white-space: pre-wrap;
	}
}

.create-expense,
.update-expense,
.view-expense-card,
.view-expense {
	&-skeleton {
		width: 100%;
		height: 60px;
		margin: 6px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		border-radius: 8px;
		border: 1px solid var(--theme-light-grey);
		position: relative;
		background: #d9d9d9;

		&::before {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			background-image: linear-gradient(
				to right,
				#d9d9d9 0%,
				rgba(0, 0, 0, 0.07) 20%,
				#d9d9d9 40%,
				#d9d9d9 100%
			);
			background-repeat: no-repeat;
			background-size: 450px 400px;
			animation: shimmer 1s linear infinite;

			@keyframes shimmer {
				0% {
					background-position: -450px 0;
				}

				100% {
					background-position: 450px 0;
				}
			}
		}
	}
}
