@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.group-home {
	width: 100%;

	&-row {
		cursor: pointer;
	}
}

.create-group,
.create-group-members {
	width: 100%;

	&-form {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		& > div > div {
			padding: 16px;

			@include responsive(phone) {
				padding: 8px;
			}
		}

		&-submit {
			width: 100%;
			margin: 0 auto;
		}
	}

	&-banner {
		@include banner;
		min-height: unset;
		height: 150px;
		background-color: none;
		background-blend-mode: normal;
		border-radius: 8px;
		justify-content: center;
		align-items: flex-end;
		transform: none;
		padding: 0;
		margin-bottom: 50px;

		&__icon {
			height: 50%;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transform: translateY(50%);
			background-color: var(--accent-color);
		}
	}

	&-members {
		&-bar {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 8px;
			padding: 6px 12px;
			border: 1px solid var(--theme-light-grey);
			cursor: pointer;

			button {
				@include init-button;
				border-radius: 500px;
				padding: 6px;

				svg {
					width: 16px;
					height: 16px;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.025);
				}
			}
		}
	}

	&-manage-col {
		flex-direction: column;
		gap: 12px;
	}

	&-member {
		width: calc(100% - 12px);
		margin: 6px 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;
		padding: 6px 12px;
		border-radius: 8px;
		border: 1px solid var(--theme-light-grey);
		cursor: pointer;
		user-select: none;
		color: var(--theme-fg);
		text-decoration: none;
		transition: all var(--transition-time) ease-in-out;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&-info {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			overflow: hidden;
		}
	}

	&-members-bar {
		width: calc(100% - 16px);
		margin: 0 auto;
		margin: 12px 0 6px 0;
	}
}

.group-meta {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 24px;
	gap: 24px;
	background-color: #dbe2fd;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;

	@include theme(dark) {
		background-color: #646e8a;
	}

	@include responsive(phone) {
		padding: 8px;
		gap: 12px;
	}

	&-left {
		max-width: calc(100% - 92px);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;
		flex: 0 1 auto;
	}

	&-info {
		width: calc(100% - 42px);
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;
		cursor: pointer;
		flex: 0 1 auto;
		margin-right: auto;

		@include responsive(phone) {
			gap: 12px;
		}
	}

	&-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 24px;
		flex: 0 0 auto;

		@include responsive(phone) {
			gap: 12px;
		}
	}

	&-name {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&-action {
		@include init-button;
		border-radius: 500px;
		padding: 8px;

		@include responsive(phone) {
			padding: 4px;
		}

		&--flat {
			border-radius: 8px;
			padding: 12px 16px;
			gap: 12px;
		}

		svg {
			width: 20px;
			height: 20px;
			color: var(--theme-white);

			@include responsive(phone) {
				width: 16px;
				height: 16px;
			}
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);

			@include theme(dark) {
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}

	&-icon {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px;
		overflow: hidden;
		flex: 0 0 auto;
	}

	&-options {
		position: relative;
	}

	&-dropdown {
		@include dropdown;
		display: flex;
		left: unset;
		right: 0;

		button {
			@include init-button;
			@include dropdown-option;
			justify-content: flex-start;
			gap: 12px;
			padding: 12px 16px;
		}
	}
}

.group-info {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	z-index: 2;

	&-parent {
		& > * {
			padding: 0;
		}
	}

	@include responsive(phone) {
		justify-content: flex-start;
		flex-direction: column;
		gap: 12px;
	}

	&-banner {
		@include banner;
		transform: none;
	}

	&-main {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		gap: 24px;
		transform: translateY(-90px);
	}

	&-details {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		gap: 24px;
	}

	&-icon {
		width: 180px;
		height: 180px;
		border-radius: 24px;
		background-color: var(--theme-white);
		box-shadow: var(--shadow-elevation-2dp);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px;
		overflow: hidden;
	}

	&-title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;

		button {
			@include init-button;
			width: 2rem;
			height: 2rem;
			border-radius: 500px;
			background-color: transparent;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: var(--grey-200);
			}
		}
	}

	&-members {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 24px;
		padding: 0 24px;
	}

	&-member {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;

		&-name {
			width: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		&-chip {
			margin-left: auto;
			border-radius: 500px;
			padding: 8px 12px;
			color: var(--theme-black);
			white-space: nowrap;
			text-align: center;

			&--admin {
				background-color: var(--green-100);
			}

			&--invited {
				background-color: var(--yellow-100);
			}
		}
	}
}

.group-owed-data,
.group-summary,
.group-contributions {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	padding: 24px;

	@include responsive(phone) {
		padding: 16px;
	}

	&-person {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 8px;
		overflow: hidden;

		&-details {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 12px;

			&__text {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: column;
				gap: 2px;
			}
		}

		&--block {
			flex-direction: column;
			border-radius: 12px;
			background-color: var(--accent-color-300);
			padding: 24px;

			@include responsive(phone) {
				padding: 12px;
			}
		}

		&--sub {
			margin-left: 20px;
			margin: 0.25rem 0;

			button {
				margin-bottom: 0.5rem;
			}
		}

		&--gives {
			background-color: var(--red-100);

			@include theme(dark) {
				background-color: var(--red-900);
			}
		}

		&--gets {
			background-color: var(--green-100);

			@include theme(dark) {
				background-color: var(--green-900);
			}
		}

		&--details {
			flex-direction: row;
		}
	}
}

.group-placeholder {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	text-align: center;

	img {
		width: 300px;
		height: auto;
		object-fit: contain;
	}
}

.group-contributions {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	&-bar {
		--radius: 24px;
		width: 100%;
		aspect-ratio: 5 / 1;
		border-radius: var(--radius);
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: nowrap;

		@include responsive(phone) {
			--radius: 12px;
		}

		&__item {
			height: 100%;
			position: relative;

			&:first-child {
				border-radius: var(--radius) 0 0 var(--radius);
			}

			&:last-child {
				border-radius: 0 var(--radius) var(--radius) 0;
			}

			&:hover {
				cursor: pointer;
				box-shadow: var(--shadow-elevation-8dp);
			}

			&--user {
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translateX(-50%) translateY(-4px);
				opacity: 0;
				border-radius: 4px;
				background-color: var(--back-shadow);
				padding: 4px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				gap: 2px;
				text-align: center;
				white-space: nowrap;
			}

			&:hover &--user {
				opacity: 1;
			}
		}
	}

	&-cards {
		width: 100%;
	}

	&-person--col {
		padding: 12px;
	}
}

.group-members {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		&-controls {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 12px;

			input {
				min-width: 160px;
			}
		}
	}

	&-user {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;

		&__details {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 2px;
		}

		button {
			margin-left: auto;
		}
	}

	&-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 12px;
		padding: 60px 0;
		text-align: center;

		img {
			width: 200px;
			height: auto;
			object-fit: contain;
		}
	}

	&-bulk-editor {
		width: 100%;

		& > *,
		textarea {
			width: 100%;
		}
	}
}
