@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.create-group,
.create-group-members {
	width: 100%;

	&-form {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

		& > div > div {
			padding: 16px;

			@include responsive(phone) {
				padding: 8px;
			}
		}

		button {
			width: 100%;
			margin: 0 auto;
		}
	}

	&-members {
		&-bar {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 8px;
			padding: 6px 12px;
			border: 1px solid var(--theme-light-grey);
			cursor: pointer;

			button {
				@include init-button;
				border-radius: 500px;
				padding: 6px;

				svg {
					width: 16px;
					height: 16px;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.025);
				}
			}
		}
	}

	&-manage-col {
		flex-direction: column;
		gap: 12px;
	}

	&-member {
		width: calc(100% - 12px);
		margin: 6px 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;
		padding: 6px 12px;
		border-radius: 8px;
		border: 1px solid var(--theme-light-grey);
		cursor: pointer;
		user-select: none;
		color: var(--theme-black);
		text-decoration: none;
		transition: all var(--transition-time) ease-in-out;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&-info {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			overflow: hidden;
		}
	}

	&-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 24px;
		padding: 60px 0;
		text-align: center;

		img {
			width: 200px;
			height: auto;
			object-fit: contain;
		}
	}

	&-members-bar {
		width: calc(100% - 16px);
		margin: 0 auto;
		margin: 12px 0 6px 0;
	}
}

.group-meta {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 24px;
	z-index: 2;
	padding: 0 5%;

	@include responsive(phone) {
		justify-content: flex-start;
		flex-direction: column;
		gap: 12px;
	}

	&-banner {
		@include banner;
	}

	&-details {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 12px;
	}

	&-icon {
		width: 80px;
		height: 80px;
		border-radius: 8px;
		background-color: var(--theme-white);
		box-shadow: var(--shadow-elevation-2dp);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px;
		overflow: hidden;

		img {
			object-fit: cover;
			width: 100%;
			height: auto;
		}
	}

	&-actions {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 12px;
		padding-top: 52px;

		@include responsive(phone) {
			padding-top: 12px;
			justify-content: flex-start;
		}
	}
}

.group-owed-data,
.group-summary {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	padding: 24px;

	@include responsive(phone) {
		padding: 16px;
	}

	&-person {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 8px;

		&--sub {
			margin-left: 20px;
		}

		&--details {
			flex-direction: row;
		}
	}
}
