@import "@/styles/config/mixins";

.side-bar {
	width: var(--side-width);
	height: calc(100vh - var(--head-height));
	position: fixed;
	top: var(--head-height);
	left: 0;
	z-index: 50;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	border-radius: 32px;

	@include responsive(phone) {
		width: 50%;
		transform: translateX(-100%);
		z-index: 70;
		background-color: var(--accent-color);
		border-radius: 0 32px 32px 0;
	}

	&--expanded {
		@include responsive(phone) {
			transform: translateX(0);
		}
	}

	&-nav {
		width: 100%;
		margin: 1rem 0;
		padding: 0 0.25rem;
	}

	&-list {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: flex-start;
		list-style: none;

		&__item {
			width: 100%;
			height: 3.5rem;
			margin: 0.5rem 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&-link {
		width: 90%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 32px;
		padding: 0.2rem 0 0.2rem 0.6rem;
		color: inherit;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:active,
		&:focus,
		&:visited {
			border: none;
			outline: none;
		}

		&:hover {
			background-color: var(--back-shadow-light);

			body.dark & {
				color: var(--black);
			}
		}

		&--active {
			background-color: var(--accent-color-500);

			@include theme(dark) {
				background-color: var(--accent-color-300);
			}
		}

		&__title {
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		span:first-child {
			width: 1.5rem;
			height: 1.5rem;
			margin: 0.25rem 0.5rem;
			font-size: 1.25rem;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}

	&--collapsed &-list__item {
		justify-content: center;
	}

	&--collapsed &-link {
		width: 3rem;
		height: 3rem;
		border-radius: 500px;
		justify-content: center;
		padding: 0.4rem;
	}

	&--collapsed &-link__title {
		display: none;
	}

	&-overlay {
		position: fixed;
		z-index: 69;
		top: var(--head-height);
		left: 0;
		width: 100vw;
		height: calc(100vh - var(--head-height));
		display: none;
	}

	&--expanded + &-overlay {
		@include responsive(phone) {
			display: block;
		}
	}
}
