@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.auth-content {
	&-form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 24px;

		input {
			@include typography(body, extra-large, regular);
		}

		button svg path {
			fill: var(--theme-white);
		}
	}

	&-divider {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 24px;
		white-space: nowrap;

		&--line {
			width: 100%;
			height: 1px;
			background-color: var(--theme-light-grey);
		}
	}
}
