@import "./config/index.scss";

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.01);
	border: 4px solid transparent;

	&-track {
		background-color: rgba(0, 0, 0, 0.2);
	}

	&-thumb {
		background-color: rgba(0, 153, 255, 0.75);
		border-radius: 500px;

		&:hover {
			background-color: rgba(0, 153, 255, 1);
		}

		&:hover {
			background-color: rgba(0, 153, 255, 0.5);
		}
	}
}
