*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all var(--transition-time) ease-in-out;
	scroll-behavior: smooth;
}

@import "./mixins";

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-size: 16px;

	@include responsive(phone) {
		font-size: 12px;
	}

	@include responsive(tablet) {
		font-size: 14px;
	}

	/* @include responsive(desktop) {
		font-size: 16px;
	}

	@include responsive(large-desktop) {
		font-size: 18px;
	}

	@include responsive(extra-large-desktop) {
		font-size: 20px;
	} */
}

body.light,
body[data-theme="light"] {
	--bgcolor: #f9f9f9;
	--bgcolor-100: #e1e1e1;
	--bgcolor-400: #d2d2d2;
	--bgcolor-700: #c3c3c3;

	--tcolor: #121212;
	--tcolor-100: #333333;
	--tcolor-400: #272727;
	--tcolor-700: #1d1d1d;

	--theme-bg: #f9f9f9;
	--theme-fg: #121212;

	--back-shadow: rgba(0, 0, 0, 0.2);
	--back-shadow-dark: rgba(0, 0, 0, 0.25);
	--back-shadow-light: rgba(0, 0, 0, 0.1);
}

body.dark,
body[data-theme="dark"] {
	--bgcolor: #121212;
	--bgcolor-100: #333333;
	--bgcolor-400: #272727;
	--bgcolor-700: #1d1d1d;

	--tcolor: #f9f9f9;
	--tcolor-100: #e1e1e1;
	--tcolor-400: #d2d2d2;
	--tcolor-700: #c3c3c3;

	--theme-bg: #0c1015;
	--theme-fg: #f9f9f9;

	--back-shadow: rgba(255, 255, 255, 0.2);
	--back-shadow-dark: rgba(255, 255, 255, 0.25);
	--back-shadow-light: rgba(255, 255, 255, 0.1);
}

body {
	font-family: var(--font-google-sans);
	overflow-x: hidden;
	background-color: var(--accent-color-200);
	color: var(--theme-fg);
	letter-spacing: 0.025rem;
	word-spacing: 0.25rem;
	line-height: 1.25rem;
	position: relative;

	&.light,
	&[data-theme="light"] {
		background-color: var(--accent-color-200);
	}

	&.dark,
	&[data-theme="dark"] {
		background-color: var(--bgcolor-400);
	}
}

@font-face {
	font-family: "Google Sans";
	src: url("/fonts/Google-Sans/GoogleSans-Regular.eot");
	src:
		url("/fonts/Google-Sans/GoogleSans-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/Google-Sans/GoogleSans-Regular.woff2") format("woff2"),
		url("/fonts/Google-Sans/GoogleSans-Regular.woff") format("woff"),
		url("/fonts/Google-Sans/GoogleSans-Regular.ttf") format("truetype"),
		url("/fonts/Google-Sans/GoogleSans-Regular.svg#GoogleSans-Regular")
			format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Chococooky";
	src: url("/fonts/Choco-cooky/Choco-cooky.eot");
	src:
		url("/fonts/Choco-cooky/Choco-cooky.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/Choco-cooky/Choco-cooky.woff2") format("woff2"),
		url("/fonts/Choco-cooky/Choco-cooky.woff") format("woff"),
		url("/fonts/Choco-cooky/Choco-cooky.ttf") format("truetype"),
		url("/fonts/Choco-cooky/Choco-cooky.svg#Choco-cooky") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.dispn {
	display: none !important;
}
