@font-face {
	font-family: "Google Sans";
	src: url("/fonts/Google-Sans/GoogleSans-Regular.eot");
	src:
		url("/fonts/Google-Sans/GoogleSans-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/Google-Sans/GoogleSans-Regular.woff2") format("woff2"),
		url("/fonts/Google-Sans/GoogleSans-Regular.woff") format("woff"),
		url("/fonts/Google-Sans/GoogleSans-Regular.ttf") format("truetype"),
		url("/fonts/Google-Sans/GoogleSans-Regular.svg#GoogleSans-Regular")
			format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Chococooky";
	src: url("/fonts/Choco-cooky/Choco-cooky.eot");
	src:
		url("/fonts/Choco-cooky/Choco-cooky.eot?#iefix")
			format("embedded-opentype"),
		url("/fonts/Choco-cooky/Choco-cooky.woff2") format("woff2"),
		url("/fonts/Choco-cooky/Choco-cooky.woff") format("woff"),
		url("/fonts/Choco-cooky/Choco-cooky.ttf") format("truetype"),
		url("/fonts/Choco-cooky/Choco-cooky.svg#Choco-cooky") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
