@mixin responsive($breakpoint) {
	@if $breakpoint ==phone {
		@media (min-width: 320px) and (max-width: 671.5px) {
			@content;
		}
	}

	@if $breakpoint ==tablet {
		@media (min-width: 672px) and (max-width: 1055.5px) {
			@content;
		}
	}

	@if $breakpoint ==phone-landscape {
		@media (max-width: 900px) and (orientation: landscape) {
			@content;
		}
	}

	@if $breakpoint ==desktop {
		@media (min-width: 1056px) and (max-width: 1311.5px) {
			@content;
		}
	}

	@if $breakpoint ==large-desktop {
		@media (min-width: 1312px) and (max-width: 1583.4px) {
			@content;
		}
	}

	@if $breakpoint ==extra-large-desktop {
		@media (min-width: 1584px) {
			@content;
		}
	}

	@if $breakpoint ==vertical-screens {
		@media (max-height: 540px) {
			@content;
		}
	}

	@if $breakpoint ==vertical-screen-modal {
		@media (max-height: 768px) {
			@content;
		}
	}
}

@mixin color-scheme($mode) {
	@if $mode ==light {
		@media (prefers-color-scheme: light) {
			@content;
		}
	} @else if $mode ==dark {
		@media (prefers-color-scheme: dark) {
			@content;
		}
	}

	@if $mode ==light {
		body:not([data-theme]) & {
			@content;
		}
	}

	@if $mode ==light {
		body[data-theme="light"] & {
			@content;
		}
	} @else if $mode ==dark {
		body[data-theme="dark"] & {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin theme($theme) {
	// if body has no data-theme attribute, then apply the styles

	@if $theme ==light {
		body:not([data-theme]) & {
			@content;
		}
	}

	@if $theme ==light {
		body[data-theme="light"] & {
			@content;
		}
	} @else if $theme ==dark {
		body[data-theme="dark"] & {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin font(
	$font-family: Poppins,
	$font-size: inherit,
	$font-weight: normal,
	$line-height: initial,
	$color: initial,
	$letter-spacing: initial
) {
	font-family:
		$font-family,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	color: $color;
	letter-spacing: $letter-spacing;
}

@mixin hide-scrollbar {
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&-thumb {
			background: transparent !important;
		}
	}
}

@mixin init-button {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	touch-action: manipulation;
	user-select: none;
	transition: all var(--transition-time) ease-in-out;
}

@mixin dropdown {
	display: none;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 15;
	min-width: 100%;
	max-height: 150px;
	height: fit-content;
	box-shadow: var(--shadow-elevation-4dp);
	border-radius: 8px;
	overflow: hidden;
	overflow-y: auto;
	background-color: var(--theme-white);
	color: var(--color-black);
	@include hide-scrollbar();

	&:active,
	&:focus {
		display: flex;
	}
}

@mixin dropdown-option {
	width: 100%;
	padding: 10px 8px;
	transition: all var(--transition-time) ease-in-out;
	background-color: var(--theme-white);
	color: var(--color-black);
	white-space: nowrap;
	cursor: pointer;
	user-select: none;

	&:hover,
	&:active,
	&:focus {
		background-color: var(--theme-bg);
		color: var(--color-black);
	}
}

@mixin banner {
	width: 100%;
	min-height: 20vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(45px);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex: 0 0 auto;
	padding: 36px 24px;

	@include responsive(phone) {
		height: 15vh;
	}

	&-btn {
		@include init-button;
		border-radius: 500px;
		padding: 8px;
		color: var(--theme-white);

		&--flat {
			border-radius: 8px;
			padding: 12px 16px;
			gap: 12px;
		}

		svg {
			width: 20px;
			height: 20px;
			color: var(--theme-white);
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.25);
		}
	}
}
