@import "./mixins";

:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--side-width: 22%;
	--head-height: 4.5rem;

	--font-poppins: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat: "Montserrat", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif;
	--font-google-sans: "Google Sans", Cabin, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	--font-choco-cooky: "Choco-cooky", Cabin, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;

	--theme-white: #ffffff;
	--theme-black: #090909;
	--theme-purple: #7e48c9;
	--theme-blue: #1f6feb;
	--theme-yellow: #edcf63;
	--theme-cyan: #87d4ff;
	--theme-pink: #b363c7;
	--theme-grey: #7d8590;
	--theme-light-grey: #c4c4c4;
	--theme-neon: #64ffda;

	--theme-bg: #f9f9f9;
	--theme-fg: #121212;

	--bgcolor: #f9f9f9;
	--bgcolor-100: #e1e1e1;
	--bgcolor-400: #d2d2d2;
	--bgcolor-700: #c3c3c3;

	--tcolor: #121212;
	--tcolor-100: #333333;
	--tcolor-400: #272727;
	--tcolor-700: #1d1d1d;

	--back-shadow: rgba(0, 0, 0, 0.2);
	--back-shadow-dark: rgba(0, 0, 0, 0.25);
	--back-shadow-light: rgba(0, 0, 0, 0.1);

	@include color-scheme(light) {
		--theme-bg: #f9f9f9;
		--theme-fg: #121212;

		--bgcolor: #f9f9f9;
		--bgcolor-100: #e1e1e1;
		--bgcolor-400: #d2d2d2;
		--bgcolor-700: #c3c3c3;

		--tcolor: #121212;
		--tcolor-100: #333333;
		--tcolor-400: #272727;
		--tcolor-700: #1d1d1d;

		--back-shadow: rgba(0, 0, 0, 0.2);
		--back-shadow-dark: rgba(0, 0, 0, 0.25);
		--back-shadow-light: rgba(0, 0, 0, 0.1);
	}

	@include color-scheme(dark) {
		--theme-bg: #0c1015;
		--theme-fg: #f9f9f9;

		--bgcolor: #121212;
		--bgcolor-100: #333333;
		--bgcolor-400: #272727;
		--bgcolor-700: #1d1d1d;

		--tcolor: #f9f9f9;
		--tcolor-100: #e1e1e1;
		--tcolor-400: #d2d2d2;
		--tcolor-700: #c3c3c3;

		--back-shadow: rgba(255, 255, 255, 0.2);
		--back-shadow-dark: rgba(255, 255, 255, 0.25);
		--back-shadow-light: rgba(255, 255, 255, 0.1);
	}

	// Brand Colors

	--theme-green: #4aa63c;
	--theme-green-light: #98bf45;
	--theme-green-dark: #027333;
	--theme-red: #bf5517;
	--theme-orange: #f28c0f;

	--theme-primary: var(--theme-green);
	--theme-secondary: var(--theme-red);

	--accent-color: #bccbff;
	--accent-color-heavy: #1f316f;
	--accent-color-100: rgba(188, 203, 255, 0.1);
	--accent-color-200: rgba(188, 203, 255, 0.2);
	--accent-color-300: rgba(188, 203, 255, 0.3);
	--accent-color-400: rgba(188, 203, 255, 0.4);
	--accent-color-500: rgba(188, 203, 255, 0.5);
	--accent-color-600: rgba(188, 203, 255, 0.6);
	--accent-color-700: rgba(188, 203, 255, 0.7);
	--accent-color-800: rgba(188, 203, 255, 0.8);
	--accent-color-900: rgba(188, 203, 255, 0.9);
}
